<h1>Article: Edit</h1>

<nav class="admin">
  <%= link_to 'Back', articles_path %>
</nav>
 
<% form_for(@article) do |f| %>
  <div id="error_message">
    <%= f.error_messages %>
  </div>

  <div class="input_container radio_checkbox">
    <%= f.check_box :is_published %>
    <%= f.label :is_published %>
  </div>

  <div class="input_container">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="input_container">
    <%= f.label :content %>
    <%= f.text_area :content, :size=>"80x40" %>
  </div>

  <%= f.submit 'Update' %>
<% end %>