<h1>Edit Article</h1>

<ul class="admin_controls">
  <li><%= link_to 'Article List', articles_path %></li>
  <li><%= link_to 'Preview', @article %></li>
</ul>


<% form_for(@article) do |f| %>
  <div id="error_message">
    <%= f.error_messages %>
  </div>

  <div class="input_container">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div class="input_container">
    <%= f.label :content %>
    <%= f.text_area :content, :size=>"80x40" %>
  </div>
  
  <%= f.submit 'Update' %>
<% end %>