<% content_for :nav do %>
  <%= link_to 'New', new_article_path %>
<% end %>

<h1>Article: List</h1>

<table id="admin-table" class="article">
  <thead>
    <th>Title</th>
    <th class="published">Published</th>
    <th class="controls">Controls</th>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%=h article.title %></td>
        <td class="published"><%=h article.is_published%></td>
        <td class="controls">
          <ul class="table_controls">
            <li><%= link_to 'Preview', article %></li>
            <li><%= link_to 'Edit', edit_article_path(article) %></li>
            <li><%= link_to 'Delete', article, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>