<% content_for :nav do %>
  <%= link_to 'Back', articles_path %>
<% end %>

<h1>Article: New</h1>

<% form_for(@article) do |f| %>
  <div id="error_message">
    <%= f.error_messages %>
  </div>

  <div class="input_container radio_checkbox">
    <%= f.check_box :is_published %>
    <%= f.label :is_published %>
  </div>

  <div class="input_container">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="input_container">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <%= f.submit 'Create' %>
<% end %>