<h1>Article: Preview</h1>

<nav class="admin">
  <%= link_to 'Back', articles_path, :class=>'admin_link' %>
  <%= link_to 'Edit', edit_article_path(@article) %>
</nav>

<div class="content">
  <section class="content_block">
    <h2>Title:</h2>
    <p><%=h @article.title %></p>
  </section>

  <section class="content_block">
    <h2>Published:</h2>
    <div>
      <%=h @article.is_published %>
    </div>
  </section>

  </section><section class="content_block">
    <h2>Content:</h2>
    <div>
      <%=h @article.content %>
    </div>
  </section>
</div>