<h1>Article: Preview</h1>

<ul class="admin_controls">
  <li><%= link_to 'Article List', articles_path %></li>
  <li><%= link_to 'Edit', edit_article_path(@article) %></li>
  <li><%= link_to 'New Article', new_article_path %></li>
</ul>

<section class="content_block">
  <h2>Title:</h2>
  <p><%=h @article.title %></p>
</section>

<section class="content_block">
  <h2>Content:</h2>
  <div>
    <%=h @article.content %>
  </div>
</section>