<dd>
  <% if (tickets.tickets_available) %>
    <a href="<%=tickets.ticket_url%>">
      <%= tickets.title %>/<%= tickets.event_date_short %>
    </a>
  <% else %>
    <span>
      <%= tickets.title %>/<%= tickets.event_date_short %>
      <br />SOLD OUT!
    </span>
  <% end %>
</dd>