<h1>Venue: Edit</h1>

<nav class="admin">
  <%= link_to 'Back', venues_path %>
</nav>

<% form_for(@venue) do |f| %>
  <div id="error_message">
    <%= f.error_messages %>
  </div>

  <div class="input_container medium">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="input_container medium">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
   
  <div class="input_container medium">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <%= f.submit 'Update' %>
<% end %>