<% content_for :nav do %>
  <%= link_to 'Back', days_path %>
<% end %>

<h1>Day: Edit</h1>

<% form_for(@day) do |f| %>
  <div id="error_message">
    <%= f.error_messages %>
  </div>

  <h2 class="bbq_title"><%= @day.bbq.title%></h2>
  
  <div class="input_container short">
    <%#= f.label :bbq_id %>
    <%#= f.select(:bbq_id,options_for_select(present_bbqs_select_list))%>
    <label for="bbq_day">Day</label>
    <input id="bbq_day" type="text" class="date" />
  </div>
  
  <div class="input_container long clearfix">
	  <%= f.label :venue_id %>
	  <%= f.select(:venue_id,options_for_select(venue_select_list))%>
  </div>
  
  <div class="input_container">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  
  <div class="input_container short">
    <%= f.label :start_time %>
    <%= f.text_field :start_time, :class=>'time' %>
  </div>
  
  <div class="input_container short">
    <%= f.label :end_time %>
    <%= f.text_field :end_time, :class=>'time' %>
  </div>
  
  <%= f.submit 'Update' %>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
      $('select').customSelects();
      $('input.time').timeEntry();
      $('input.time').blur(function() {
        new CleanValue(this);
      });
      
      $('.date').each(function() {
        var date = $(this).val().split('-'),
            year = date[0],
            month = date[1],
            day = date[2],
            newDate = month + '/' + day + '/' + year;
        
        $(this)
          .datepicker()
          .datepicker('setDate', newDate)
          .datepicker('option', 'dateFormat', 'yy-mm-dd');
      });
    });
  </script>
<% end %>