<% content_for :nav do %>
  <%= link_to 'New', new_day_path %>
<% end %>

<h1>Day List</h1>

<table id="admin-table" class="day">
  <thead>
    <th class="date_small">Date</th>
    <th class="title">BBQ</th>
    <th>Venue</th>
    <th class="time">Time</th>
    <th class="controls">Controls</th>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr>
        <td class="date_small"><%=h day.bbq_date %></td>
        <td class="title"><%=h day.bbq.title if(!day.bbq.nil?)%></td>
        <td><%=h day.venue.name if(!day.venue.nil?) %></td>
        <td class="time"><%=h day.start_time %> - <%=h day.end_time %></td>
        <td class="controls">
          <ul class="table_controls">
            <li><%= link_to 'Preview', day %></li>
            <li><%= link_to 'Edit', edit_day_path(day) %></li>
            <li><%= link_to 'Delete', day, :confirm => 'Are you sure?', :method => :delete %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>