<h1>Day: New</h1>

<nav class="admin">
  <%= link_to 'Back', days_path %>
</nav>

<% form_for(@day) do |f| %>
  <div id="error_message">
    <%= f.error_messages %>
  </div>
   
  <div class="input_container long clearfix">
	  <label for="bbq">BBQ</label>
	  <%= f.select(:bbq_id,options_for_select(present_bbqs_select_list))%>
  </div>
  
  <div class="input_container short">
    <label for="bbq_date">Event Date</label>
    <input id="bbq_date" type="text" class="date" />
  </div>
  
  <div class="input_container long clearfix">
	  <%= f.label :venue_id %>
	  <%= f.select(:venue_id,options_for_select(venue_select_list))%>
  </div>
  
  <div class="input_container">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  
  <div class="input_container short">
    <%= f.label :start_time %>
    <%= f.text_field :start_time, :class=>'time' %>
  </div>
  
  <div class="input_container short">
    <%= f.label :end_time %>
    <%= f.text_field :end_time, :class=>'time' %>
  </div>
  
  <%= f.submit 'Create' %>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
      $('select').customSelects();
      
      var value = $('#day_bbq_id').next('.customSelects_title').text(),
          valueSplitOne = value.split(' : '),
          valueSplitTwo = valueSplitOne[1].split(' - '),
          date = valueSplitTwo[0]; 
      
      $('select').change(function() {
        value = $('#day_bbq_id').next('.customSelects_title').text();
        valueSplitOne = value.split(' : ');
        valueSplitTwo = valueSplitOne[1].split(' - ');
        date = valueSplitTwo[0];
        
        $('#bbq_date').datepicker('setDate', new Date(date));
      });
      
      $('#bbq_date')
        .focus(function() {
          value = $('#day_bbq_id').next('.customSelects_title').text();
          valueSplitOne = value.split(' : ');
          valueSplitTwo = valueSplitOne[1].split(' - ');
          date = valueSplitTwo[0];
          
          $(this).datepicker('setDate', new Date(date));
        })
        .datepicker()
        .datepicker('setDate', new Date(date))
        .datepicker('option', 'dateFormat', 'yy-mm-dd');
        
      $('input.time').timeEntry();
      $('input.time').blur(function() {
        new CleanValue(this);
      });
    });
  </script>
<% end %>