<% content_for :nav do %>
  <%= link_to 'Edit', edit_day_path(@day) %>
  <%= link_to 'Back', days_path %>
<% end %>

<h1>Day: Preview</h1>

<div class="content">
  <section class="content_block">
    <h2>Day</h2>
    <p><%=h @day.bbq_date %></p>
  </section>

  <section class="content_block">
    <h2>Content</h2>
    <p><%=h @day.content %></p>
  </section>

  <section class="content_block">
    <h2>Start Time</h2>
    <p><%=h @day.start_time %></p>
  </section>
  
  <section class="content_block">
    <h2>End Time</h2>
    <p><%=h @day.end_time %></p>
  </section>
  
  <section class="content_block">
    <h2>BBQ</h2>
    <div>
      <%=h @day.bbq.title %>
    </div>
  </section>
</div>