<section id="page-content" class="shows">
  <ul id="content-nav">
    <!-- Each past show should show up automatically in this list after the date of the show has passed -->
    <li class="top_item">
      <a href="#" class="selected"><%=bbq.full_title%></a>
      <ul class="subnav">
        <li><a href="#" class="selected">Thursday</a></li>
        <li><a href="#">Friday</a></li>
        <li><a href="#">Saturday</a></li>
        <li><a href="#">Sunday</a></li>
      </ul>
    </li>
  </ul>
  
  <section id="show-info">
    <h1><%= bbq.event_date%></h1>
    <h2><a href="<%=bbq.venue.url%>"><%= bbq.venue.name%></a></h2>
	<h2><a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=<%=URI.escape(bbq.venue.address)%>&amp;ie=UTF8&amp;"><%= bbq.venue.address%></a></h2>
    
    <!-- For each band submitted, we should give an option for a link. If no link, then there should be no <a> -->
    <ul class="band_list">
      <li><a href="#">Band 1</a></li>
      <li><a href="#">Band 2</a></li>
      <li><a href="#">Band 3</a></li>
      <li><a href="#">Band 4</a></li>
      <li><a href="#">Band 5</a></li>
      <li><a href="#">Band 6</a></li>
      <li><a href="#">Band 7</a></li>
      <li><a href="#">Band 8</a></li>
      <li><a href="#">Band 9</a></li>
      <li><a href="#">Band 10</a></li>
      <li><a href="#">Band 11</a></li>
    </ul>
    
    <div class="description">
      <%= bbq.content%>
    </div>
  </section>
</section>