<h2><%=day.long_date%></h2>
<h2><%= day.venue.name%> <a href="<%=day.venue.url%>" target="_blank">info</a></h2>
<h3><%= day.venue.address%> <a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=<%=URI.escape(day.venue.address)%>&amp;ie=UTF8&amp;" target="_blank">map</a></h3>
<div>
	<%= day.start_time%> - <%= day.end_time%>
</div>
<div class="description">
    <%= day.content%>
  </div>
<ul class="band_list">
  <%= render (:partial => "band", :collection=>day.bands)%>
</ul>
