<h1>Band: Edit</h1>

<nav class="admin">
  <%= link_to 'Back', bands_path %>
</nav>

<% form_for(@band) do |f| %>
  <div id="error_message">
    <%= f.error_messages %>
  </div>

  <div class="input_container clearfix long">
    <%= f.label :day %>
    <%= f.select(:day_id,options_for_select(available_days_select_list())) %>
  </div>
  
  <div class="input_container medium">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
 <div class="input_container short">
    <%= f.label :start_time %>
    <%= f.text_field :start_time, :class => 'time' %>
  </div>
  
  <div class="input_container short">
    <%= f.label :end_time %>
    <%= f.text_field :end_time, :class => 'time' %>
  </div>
  
  <%= f.submit 'Update' %>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
      $('select').customSelects();
      $('input.time').timeEntry();
      $('input.time').blur(function() {
        new CleanValue(this);
      });
      
      var selectValue = $('#customSelect_band_bbq_id .customSelects_title').text(),
          selectDate = selectValue.split(' - ');

      $('#play_date')
        .datepicker()
        .datepicker('option', 'dateFormat', 'yy/mm/dd')
        .datepicker( "option", "minDate", new Date(selectDate[1]))
        .datepicker( "option", "maxDate", new Date(selectDate[2]));
        
      $('#band_bbq_id').change(function() {
        var value = $('#customSelect_band_bbq_id .customSelects_title').text(),
            date = value.split(' - ');
            
        $('#play_date')
          .datepicker('setDate', new Date(date[1]))
          .datepicker( "option", "minDate", new Date(date[1]))
          .datepicker( "option", "maxDate", new Date(date[2]));
      });
    });
  </script>
<% end %>
