<h1>Band: List</h1>

<ul class="admin_controls">
  <li><%= link_to 'New Band', new_band_path %></li>
</ul>

<table id="admin-table" class="band">
  <thead>
    <th class="one">BBQ</th>
    <th class="two">Band</th>
    <th class="three">Date</th>
    <th class="four">Time</th>
    <th class="five">Controls</th>
  </thead>
  
  <tbody>
    <% @bands.each do |band| %>
      <tr>
        <td class="one"><%=h band.day.bbq.full_title if(!band.day.nil?)%></td>
        <td class="two"><%=h band.name %></td>
        <td class="three"><%=h band.day.bbq_date if(!band.day.nil?)%></td>
        <td class="four"><%=h band.start_time %> - <%=h band.end_time %></td>
        <td class="five">
          <ul class="table_controls">
            <li><%= link_to 'Preview', band %></li>
            <li><%= link_to 'Edit', edit_band_path(band) %></li>
            <li><%= link_to 'Delete', band, :confirm => 'Are you sure?', :method => :delete %></li>
          </ul>
        </td>
    <% end %>
  </tbody>
</table>

<% content_for :javascript do %>
  <script>
    $('table tbody').sortable({
      revert: true
    });
  </script>
<% end %>