<h1>Band: New</h1>

<ul class="admin_controls">
  <li><%= link_to 'Band List', bands_path %></li>
  <li><%= link_to 'New Band', new_band_path %></li>
</ul>

<% form_for(@band) do |f| %>
  <div id="error_message">
    <%= f.error_messages %>
  </div>

  <div class="input_container clearfix long">
    <%= f.label :bbq %>
    <%= f.select(:bbq_id,options_for_select(present_bbqs_select_list())) %>
  </div>
  
  <div class="input_container medium">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="input_container clearfix">
    <%= f.label :play_date %>
    <%= f.date_select :play_date %>
  </div>
  
  <div class="input_container short">
    <%= f.label :start_time %>
    <%= f.text_field :start_time, :class => 'time' %>
  </div>
  
  <div class="input_container short">
    <%= f.label :end_time %>
    <%= f.text_field :end_time, :class => 'time'%>
  </div>
  
  <%= f.submit 'Create' %>
<% end %>