<h1>Band Preview</h1>

<ul class="admin_controls">
  <li><%= link_to 'Band List', bands_path %></li>
  <li><%= link_to 'Edit', edit_band_path(@band) %></li>
</ul>

<section class="content_block">
	<h2>BBQ:</h2>
	<p><%=h @band.bbq.full_title%></p>
</section>

<section class="content_block">
  <h2>Band Name:</h2>
  <p><%=h @band.name %></p>
</section>

<section class="content_block">
  <h2>Set date:</h2>
  <p><%=h @band.play_date %></p>
</section>

<section class="content_block">
  <h2>Start time:</h2>
  <p><%=h @band.start_time %></p>
</section>

<section class="content_block">
  <h2>End time:</h2>
  <p><%=h @band.end_time %></p>
</section>