<% content_for :nav do %>
  <%= link_to 'Back', bbqs_path %>
<% end %>

<h1>BBQ: Edit</h1>

<% form_for(@bbq) do |f| %>
  <div id="error_message">
    <%= f.error_messages %>
  </div>

  <div class="input_container radio_checkbox">
    <%= f.check_box :is_published %>
    <%= f.label :is_published %>
  </div>

  <div class="input_container">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="input_container short">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, :class=>'date' %>
  </div>
  
  <div class="input_container short">
    <%= f.label :end_date %>
    <%= f.text_field :end_date, :class=>'date' %>
  </div>
  
  <%= f.submit 'Update' %>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
      $('.date').each(function() {
        var date = $(this).val().split('-'),
            year = date[0],
            month = date[1],
            day = date[2],
            newDate = month + '/' + day + '/' + year;
        
        $(this)
          .datepicker()
          .datepicker('setDate', newDate)
          .datepicker('option', 'dateFormat', 'yy-mm-dd');
      });
    });
  </script>
<% end %>