<h1>BBQ: Edit Day</h1>

<ul class="admin_controls">
  <li><%= link_to 'BBQ List', bbqs_path %></li>
  <li><%= link_to 'Preview', @bbq %></li>
</ul>

<% form_for(@bbq) do |f| %>
  <div id="error_message">
    <%= f.error_messages %>
  </div>

  <div class="input_container">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div class="input_container clearfix">
    <%= f.label :event_date %>
    <%= f.date_select :event_date %>
  </div>
  
  <div class="input_container clearfix long">
    <%= f.label :venue %>
    <%= f.select(:venue_id,options_for_select(venue_select_list())) %>
  </div>
  
  <div class="input_container">
    <%= f.label :is_published %>
    <%= f.check_box :is_published %>
  </div>
  
  <div class="input_container">
    <%= f.label :content %>
    <%= f.text_area :content, :size=>"80x40" %>
  </div>
  
  <%= f.submit 'Update' %>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
      $('select').customSelects();
      
      $('input.time').mask('99:99');
      $('input.time').each(function() {
        new AddAMPM(this);
      });
    });
  </script>
<% end %>