<h1>BBQ: Day List</h1>

<ul class="admin_controls">
  <li><%= link_to 'New BBQ Day', new_bbq_path %></li>
</ul>

<table id="admin-table" class="bbq">
  <thead>
    <th class="one">Title</th>
    <th class="two">Event date</th>
    <th class="three">Venue</th>
    <th class="four">Published</th>
    <th class="five">Controls</th>
  </thead>
  
  <tbody>
    <% @bbqs.each do |bbq| %>
      <tr>
        <td class="one"><%=h bbq.title %></td>
        <td class="two"><%=h  bbq.days.first.bbq_date if(!bbq.days.empty?) %> - <%=h bbq.days.last.bbq_date if(!bbq.days.empty?) %></td>
        <td class="three"><%=h bbq.venue.name %></td>
        <td class="four"><%=h bbq.is_published%></td>
        <td class="five">
          <ul class="table_controls">
            <li><%= link_to 'Preview', bbq %></li>
            <li><%= link_to 'Edit', edit_bbq_path(bbq) %></li>
            <li><%= link_to 'Delete', bbq, :confirm => 'Are you sure?', :method => :delete %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>