<h1>BBQ: New</h1>

<nav class="admin">
  <%= link_to 'Back', bbqs_path %>
</nav>

<% form_for(@bbq) do |f| %>
  <div id="error_message">
    <%= f.error_messages %>
  </div>
  
  <div class="input_container radio_checkbox">
    <%= f.check_box :is_published %>
    <%= f.label :is_published %>
  </div>

  <div class="input_container">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div class="input_container short">
    <%#= f.label :event_date %>
    <label for="event_date">Start Date</label>
    <%= f.text_field :start_date %>
  </div>
  
  <div class="input_container short">
    <%#= f.label :event_date %>
    <label for="event_date">End Date</label>
    <%= f.text_field :end_date %>
  </div>
  
  <%= f.submit 'Create' %>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
      $('select').customSelects();
      $('input.time').timeEntry();
      $('input.time').blur(function() {
        new CleanValue(this);
      });
      $('#bbq_start_date')
        .datepicker()
        .datepicker('setDate', new Date())
        .datepicker('option', 'dateFormat', 'yy-mm-dd');
        
      $('#bbq_end_date')
        .datepicker()
        .datepicker('setDate', new Date())
        .datepicker('option', 'dateFormat', 'yy-mm-dd');
    });
  </script>
<% end %>