<h1>BBQ: Preview</h1>

<nav class="admin">
  <%= link_to 'Edit', edit_bbq_path(@bbq), :class=>'admin_link' %>
  <%= link_to 'Back', bbqs_path %>
</nav>

<div class="content">
  <section class="content_block">
    <h2>Title</h2>
    <p><%=h @bbq.title %></p>
  </section>

  <section class="content_block">
    <h2>Published:</h2>
    <p><%=h @bbq.is_published %></p>
  </section>

  <section class="content_block">
    <h2>Start Date</h2>
    <p><%=h @bbq.event_date %></p>
  </section>
  
  <section class="content_block">
    <h2>End Date</h2>
    <p><%=h @bbq.event_date %></p>
  </section>
</div>