<h1>BBQ: Preview Day</h1>

<nav class="admin">
  <%= link_to 'Edit', edit_bbq_path(@bbq), :class=>'admin_link' %>
  <%= link_to 'Back', bbqs_path %>
</nav>

<div class="content">
  <section class="content_block">
    <h2>Title</h2>
    <p><%=h @bbq.title %></p>
  </section>

  <section class="content_block">
    <h2>Event date</h2>
    <p><%=h @bbq.event_date %></p>
  </section>

  <section class="content_block">
    <h2>Venue</h2>
    <p><%=h @bbq.venue.name %></p>
  </section>

  <section class="content_block">
    <h2>Is published:</h2>
    <div>
      <%=h @bbq.is_published %>
    </div>
  </section>

  <section class="content_block">
    <h2>Description</h2>
    <div>
      <%=h @bbq.content %>
    </div>
  </section>
</div>