<!DOCTYPE html>
<html>
  <head>
    <%= yield :title -%>
    <meta name="description" content="PRFBBQ - 2010" />
    <meta name="robots" content="robots.txt" />
    
    <%-#  CSS -%>
    <%= stylesheet_link_tag "reset" -%>
	  <%= stylesheet_link_tag "main" -%>
	    
    <%-# FAVCONS -%>
    <link rel="image/x-icon" href="make favcon"/>
    <link rel="apple-touch-icon" href="make favcon"/>
    <link rel="shortcut icon" href="make favcon" type="image/x-icon"/>
    
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body id="www-prfbbq-com">
    <div id="page-wrapper">
      <header id="page-header">
        <h1><%= link_to "PRF BBQ", {:action => "/"} -%></h1>
        
        <%-# TODO: Set "selected" on nav when in particluar page -%>
        <%-# News/home: News -%>
        <%-# Article: News -%>
        <%-# Present: Present -%>
        <%-# Past: Past -%>
        <nav id="page-nav">
          <%= link_to "News", {:action => 'home'}, :class => 'selected' -%> 
          <%= link_to "Present", {:action => 'present'} -%> 
          <%= link_to "Past", {:action => 'past'} -%>          
        </nav>

          <%-# TICKETS not available - not sure if it'll ever happen -%>
          <%-# Show only if there are tickets/shows available -%>
          <%-#<dl class="ticket_info">-%>
            <%-#<dt>Tickets</dt>-%>
            <%-#<%= render (:partial=>"tickets", :collection=>@available_tickets)%>-%>
          <%-#</dl> -%>
        </header>

        <%= yield :layout -%>
    </div>
    
    <div style="clear:both;"></div>
    <footer id="page-footer">
    </footer> 
    <div id="martyred_saint">
      <%= image_tag "burning_hotdog.png" -%>
    </div>
  </body>

  <%-# Javascript -%>
  <%= javascript_include_tag 'jquery/jquery-1.4.2.js' -%>
  <%= javascript_include_tag 'jquery/plugins/jquery.jScrollPane.js' -%>
  <%= javascript_include_tag 'http://static.ak.fbcdn.net/connect.php/js/FB.Share' -%>
  <script>
    $(function() {
      $('#page-content').jScrollPane({
        showArrows:true
      });
    });
  </script>
</html>